<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{art.science} – {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{site.base_dir}}/favicon.ico">
  <link rel="apple-touch-icon" href="{{site.base_dir}}/apple-touch-icon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"/>
 
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{site.base_dir}}/css/style.css?v=2">
  <link rel="stylesheet" href="{{site.base_dir}}/css/hack2.css">
  <link rel="stylesheet" href="{{site.base_dir}}/css/micrypt.css">
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{site.base_dir}}/js/libs/modernizr.js"></script>

</head>

<body class="index">
  <div id="container">
    <header>
				<div class="navigation">
					<div class="red-bands">
						<div class="b1"></div>
						<div class="b2"></div>
						<div class="b3"></div>
						<div class="crest"><a href="/"></a></div>
					</div>
				</div>
				<br /><br /><h1 class="branding">Art<span class="red-text">.</span>Science</h1><br /><br />
    </header>
  
    
    <div id="main" style="display:block;">
        <div id="content">
        {{ content }}
          <div class="more">
              <a href="/archive.html">Archive</a>
          </div>
        </div>
    </div>
    <footer>
		<div id="footer">
			<div id="footer-main">
				<div>
				<h2 class="title">About</h2>
					<p>
                     This is the <a href="/archive.html">writing pad</a> and playground of Seyi Ogunyemi (<a target="_blank"
                       href="http://twitter.com/micrypt">@micrypt</a>); a
                     student of life based in London (UK), seeking ways to harness
                     technology, design, and the scientific method to benefit humankind.
                    </p>
					<p>
A polyglot and polymath, Seyi is a <a target="_blank"
  href="http://dribbble.com/micrypt" rel="me">designer</a>, <a target="_blank"
  href="https://github.com/micrypt" rel="me">programmer</a>, languages geek and <a
  target="_blank" href="http://www.kendo.co.uk">swordsman</a>. These days, he is an <a
  target="_blank" href="http://espians.com">Espian</a>. Do say hello to <a target="_blank" href="https://twitter.com/micrypt" rel="me">him</a>. 
					</p>
				</div>
			</div>
			<div id="footer-mid">
				<div>
					<div id="links">
						<ul>
							<li><a href="https://twitter.com/micrypt" id="twitter" rel="me">Twitter</a></li>						
							<li><a href="http://www.flickr.com/people/micrypt" id="flickr" rel="me">Flickr</a></li>						
							<li><a href="http://micrypt.tumblr.com/" id="tumblr" rel="me">Tumblr</a></li>														
						</ul>
					</div>
					<div id="titles">
							<span id="title">{micrypt}</span>
					</div>					
				</div>
			</div>
			<div id="footer-base">
				<div></div>
			</div>
		</div>
    </footer>
  </div> <!--! end of #container -->

  <script>
   var _gaq = [['_setAccount', 'UA-13268503-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

  </body>
  </html>
