<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{art.science} – {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{site.base_dir}}/favicon.ico">
  <link rel="apple-touch-icon" href="{{site.base_dir}}/apple-touch-icon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"/>
 
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{site.base_dir}}/css/style.css?v=2">
  <link rel="stylesheet" href="{{site.base_dir}}/css/hack2.css">
  <link rel="stylesheet" href="{{site.base_dir}}/css/micrypt.css">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="../css/handheld.css?v=2">  -->
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{site.base_dir}}/js/libs/modernizr.js"></script>

</head>

<body class="index">
  <div id="container">
    <header>
				<div class="navigation">
					<div class="red-bands">
						<div class="b1"></div>
						<div class="b2"></div>
						<div class="b3"></div>
						<div class="crest"><a href="/"></a></div>
					</div>
				</div>
				<br /><br /><h1 class="branding">Art<span class="red-text">.</span>Science</h1><br /><br />
    </header>
  
    
    <div id="main" style="display:block;">
        <div id="content">
        {{ content }}
        </div>
    </div>
    <footer>
		<div id="footer">
			<div id="footer-main">
				<div>
				<h2 class="title">About</h2>
					<p>
                    Hi there weary traveller. This is micrypt.com! And welcome to you, who have come to micrypt.com (obligatory meme). This is the <a href="/archive.html">writing pad</a> and digital playground of Seyi Ogunyemi (<a target="_blank" href="http://twitter.com/micrypt">@micrypt</a>).
                    </p> 
					<p>
In another life, he co-founded an award winning digital media <a target="_blank"
  href="http://pxcdigitals.com">studio</a>. These days, he is an  <a
  target="_blank" href="http://octantlabs.com">Octant Labs</a> partner and <a target="_blank" href="http://espians.com">Espian</a>. A polygon obsessed
aspiring polyglot polymath, @micrypt is a <a target="_blank"
  href="http://dribbble.com/micrypt">designer</a>, <a target="_blank"
  href="http://github.com/micrypt">developer</a>, languages geek and <a
  target="_blank" href="http://www.kendo.co.uk">swordsman</a>. You should say
hello to <a target="_blank" href="http://twitter.com/micrypt">him</a>. 
					</p>
				</div>
			</div>
			<div id="footer-mid">
				<div>
					<div id="links">
						<ul>
							<li><a href="http://twitter.com/micrypt" id="twitter">Twitter</a></li>						
							<li><a href="http://flickr.com/micrypt"  id="flickr">Flickr</a></li>						
							<li><a href="http://micrypt.tumblr.com/"  id="tumblr">Tumblr</a></li>														
						</ul>
					</div>
					<div id="titles">
							<span id="title">{micrypt}</span>
					</div>					
				</div>
			</div>
			<div id="footer-base">
				<div></div>
			</div>
		</div>
    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="../js/libs/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
  <!-- scripts concatenated and minified via build script-->
  <script src="{{site.base_dir}}/js/plugins.js"></script>
  <script src="{{site.base_dir}}/js/script.js"></script>
  <!-- end concatenated and minified scripts-->

  <!--[if lt IE 7 ]>
    <script src="../js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <script>
   var _gaq = [['_setAccount', 'UA-13268503-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

  </body>
  </html>
